Repository FUA26/turbo-barnacle: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,scss,md,prisma}": ["prettier --write"]
}

feat: add system settings management with RBAC protection
  app/(dashboard)/manage/system-settings/page.tsx
  app/(dashboard)/manage/system-settings/system-settings-form.tsx
  app/api/system-settings/full/route.ts
  app/api/system-settings/route.ts
  app/api/system-settings/seed/route.ts
  lib/validations/system-settings.ts
Due: eslint --fix, prettier --write

feat: implement complete file upload system with RBAC permissions
  .env.example
  app/api/files/[id]/route.ts
  app/api/files/[id]/serve/route.ts
  app/api/files/admin/cleanup/route.ts
  app/api/files/route.ts
  app/api/users/[id]/profile/route.ts
  components/file-upload/file-dropzone.tsx
  components/file-upload/file-upload.tsx
  components/profile/avatar-upload.tsx
  components/profile/profile-form.tsx
  components/ui/alert.tsx
  docker-compose.yml
  lib/env.ts
  lib/file-upload/file-crud.ts
  lib/file-upload/upload-service.ts
  lib/rbac/types.ts
  lib/storage/file-cleaner.ts
  lib/storage/file-validator.ts
  lib/storage/minio-client.ts
  lib/validations/user.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  prisma/seed-permissions.ts
  prisma/seed-roles.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: update MinIO endpoint to use network IP in env example
  .env.example
Due: none

docs: add file upload proxy pattern fix design
  docs/plans/2026-02-18-file-upload-proxy-fix-design.md
Due: prettier --write

docs: add file upload proxy pattern fix implementation plan
  docs/plans/2026-02-18-file-upload-proxy-fix.md
Due: prettier --write

feat: add file URL helper functions for proxy pattern
  lib/files/file-url.ts
Due: eslint --fix, prettier --write

feat(profile): use proxy URL for avatar instead of direct MinIO URL
  app/(dashboard)/profile/page.tsx
Due: eslint --fix, prettier --write

feat(profile): update client to use avatarId and proxy URL
  app/(dashboard)/profile/profile-client.tsx
Due: eslint --fix, prettier --write

chore: prefix unused file parameter with underscore
  app/(dashboard)/profile/profile-client.tsx
Due: eslint --fix, prettier --write

fix(avatar): use proxy URL instead of direct MinIO URL
  components/profile/avatar-upload-simple.tsx
Due: eslint --fix, prettier --write

docs: add TECH_DEBT.md documenting file upload proxy pattern
  TECH_DEBT.md
Due: prettier --write

docs: add file serving best practices to CLAUDE.md
  CLAUDE.md
Due: prettier --write

fix(profile): call API to save avatar after upload
  app/(dashboard)/profile/profile-client.tsx
Due: eslint --fix, prettier --write

fix(api): await params in Next.js 16 for file serve route
  app/api/files/[id]/serve/route.ts
Due: eslint --fix, prettier --write

chore: remove debug console.logs from profile upload
  app/(dashboard)/profile/profile-client.tsx
  app/api/files/route.ts
Due: eslint --fix, prettier --write

feat(profile): restore full profile form with name, email, bio
  app/(dashboard)/profile/profile-client.tsx
  components/profile/profile-form.tsx
Due: eslint --fix, prettier --write

feat(profile): add skeleton loading for better UX
  app/(dashboard)/profile/loading.tsx
Due: eslint --fix, prettier --write

fix(profile): suppress hydration warning for Radix UI Tabs
  app/(dashboard)/profile/profile-client.tsx
Due: eslint --fix, prettier --write

fix: add type guard for error handling in DELETE route
  app/api/files/[id]/route.ts
Due: eslint --fix, prettier --write

fix(types): fix all TypeScript errors for type safety
  .claude/settings.json
  .claude/settings.local.json
  app/(dashboard)/settings/page.tsx
  app/api/files/[id]/serve/route.ts
  app/layout.tsx
  components/admin/role-dialog.tsx
  components/admin/role-form.tsx
  components/admin/roles-manager.tsx
  components/admin/user-dialog.tsx
  components/file-upload/file-upload.tsx
  components/profile/avatar-upload.tsx
  lib/auth/config.ts
  lib/file-upload/upload-service.ts
  lib/storage/minio-client.ts
  next.config.ts
  types/next-auth.d.ts
Due: eslint --fix, prettier --write

fix(types): fix remaining TypeScript type errors
  components/admin/role-dialog.tsx
  components/admin/role-form.tsx
  components/admin/user-dialog.tsx
  components/profile/avatar-upload.tsx
  lib/auth/config.ts
  types/next-auth.d.ts
Due: eslint --fix, prettier --write

fix: remove duplicate code in role-dialog
  components/admin/role-dialog.tsx
Due: eslint --fix, prettier --write

fix: remove invalid maxSizeMB prop from FileUpload
  components/profile/avatar-upload.tsx
Due: eslint --fix, prettier --write

fix(auth): ensure session.user.id is always set from token
  lib/auth/config.ts
Due: eslint --fix, prettier --write

fix(auth): include permissions in session object
  .claude/settings.local.json
  lib/auth/config.ts
  types/next-auth.d.ts
Due: eslint --fix, prettier --write

docs: add KNOWN_ISSUES.md for knowledge base
  KNOWN_ISSUES.md
Due: prettier --write

fix(middleware): update to use new session structure
  middleware.ts
Due: eslint --fix, prettier --write

docs: add Issue #2 to KNOWN_ISSUES.md
  KNOWN_ISSUES.md
Due: prettier --write

docs: add index mapping and navigation to KNOWN_ISSUES
  KNOWN_ISSUES.md
Due: prettier --write

feat(cleanup): add MinIO file cleanup script
  scripts/cleanup-files.ts
Due: eslint --fix, prettier --write

feat(storage): add listAllObjects function for MinIO
  lib/storage/minio-client.ts
Due: eslint --fix, prettier --write

docs: add comprehensive cleanup script documentation
  docs/FILE_CLEANUP.md
Due: prettier --write

docs: add dashboard navigation UX design document
  docs/plans/2026-02-19-dashboard-navigation-ux-design.md
Due: prettier --write

docs: add dashboard navigation UX implementation plan
  docs/plans/2026-02-19-dashboard-navigation-ux.md
Due: prettier --write

feat: add breadcrumbs component with utility functions
  components/dashboard/breadcrumbs.tsx
  lib/dashboard/breadcrumb-utils.ts
Due: eslint --fix, prettier --write

feat: add user dropdown menu component
  components/dashboard/user-dropdown.tsx
Due: eslint --fix, prettier --write

feat: add page title mapping utility
  lib/dashboard/page-title.ts
Due: eslint --fix, prettier --write

feat: update header with smart title, breadcrumbs, user dropdown
  components/dashboard/header.tsx
Due: eslint --fix, prettier --write
