Repository FUA26/turbo-barnacle: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,scss,md,prisma}": ["prettier --write"]
}

feat: add user stats section with stacked bar and donut charts
  components/analytics/user-stats-section.tsx
Due: eslint --fix, prettier --write

feat: add system stats section with area, bar, and gauge charts
  components/analytics/system-stats-section.tsx
Due: eslint --fix, prettier --write

feat: add activity section with line chart and activity table
  components/analytics/activity-section.tsx
Due: eslint --fix, prettier --write

feat: add resource section with pie and bubble charts
  components/analytics/resource-section.tsx
Due: eslint --fix, prettier --write

feat: add main analytics page with all sections
  app/analytics/page.tsx
Due: eslint --fix, prettier --write

feat: add analytics link to sidebar navigation
  components/dashboard/sidebar.tsx
Due: eslint --fix, prettier --write

feat: add loading state for analytics page
  app/analytics/loading.tsx
Due: eslint --fix, prettier --write

fix: resolve analytics dashboard compilation errors
  .claude/settings.local.json
  app/(dashboard)/layout.tsx
  app/analytics/page.tsx
  components/analytics/summary-cards.tsx
  components/analytics/user-stats-section.tsx
  components/dashboard/sidebar.tsx
  components/shared/providers.tsx
  lib/analytics/data-fetchers.ts
  shared-data-table/INSTALL.md
  shared-data-table/README.md
  shared-data-table/USAGE.md
  shared-data-table/components/data-table/data-table-action-bar.tsx
  shared-data-table/components/data-table/data-table-column-header.tsx
  shared-data-table/components/data-table/data-table-date-filter.tsx
  shared-data-table/components/data-table/data-table-faceted-filter.tsx
  shared-data-table/components/data-table/data-table-pagination.tsx
  shared-data-table/components/data-table/data-table-view-options.tsx
  shared-data-table/components/data-table/data-table.tsx
  shared-data-table/components/data-table/index.ts
  shared-data-table/components/ui/badge.tsx
  shared-data-table/components/ui/button.tsx
  shared-data-table/components/ui/calendar.tsx
  shared-data-table/components/ui/command.tsx
  shared-data-table/components/ui/dialog.tsx
  shared-data-table/components/ui/dropdown-menu.tsx
  shared-data-table/components/ui/input.tsx
  shared-data-table/components/ui/popover.tsx
  shared-data-table/components/ui/select.tsx
  shared-data-table/components/ui/separator.tsx
  shared-data-table/components/ui/table.tsx
  shared-data-table/examples/advanced-table.tsx
  shared-data-table/examples/basic-table.tsx
  shared-data-table/examples/index.ts
  shared-data-table/examples/types.tsx
  shared-data-table/lib/utils.ts
Due: eslint --fix, prettier --write

test: add E2E tests for analytics dashboard
  tests/e2e/analytics.spec.ts
Due: eslint --fix, prettier --write

docs: add semantic release design document
  docs/plans/2025-02-23-semantic-release-design.md
Due: prettier --write

docs: add semantic release implementation plan
  docs/plans/2025-02-23-semantic-release.md
Due: prettier --write

fix: resolve type-check errors for shared-data-table
  package.json
  pnpm-lock.yaml
  tests/e2e/auth.spec.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/permissions.spec.ts
  tests/e2e/roles.spec.ts
  tests/e2e/users.spec.ts
Due: eslint --fix, prettier --write

chore: add vitest coverage types
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: install semantic-release and plugins
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add semantic-release configuration
  .releaserc.json
Due: prettier --write

chore: add release scripts to package.json
  package.json
Due: prettier --write

ci: add semantic-release GitHub Actions workflow
  .github/workflows/release.yml
Due: none

chore: add initial CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

docs: add semantic-release documentation to CLAUDE.md
  CLAUDE.md
Due: prettier --write

docs: add semantic-release setup documentation
  docs/semantic-release.md
Due: prettier --write

fix: move analytics page to dashboard layout to show sidebar and header
  app/(dashboard)/analytics/loading.tsx
  app/(dashboard)/analytics/page.tsx
  components/analytics/activity-section.tsx
  components/analytics/chart-wrapper.tsx
  components/analytics/filter-bar.tsx
  components/analytics/resource-section.tsx
  components/analytics/summary-cards.tsx
  components/analytics/system-stats-section.tsx
  components/analytics/user-stats-section.tsx
Due: eslint --fix, prettier --write

docs: add comprehensive boilerplate documentation
  CONTRIBUTING.md
  README.md
  docs/BOILERPLATE_GUIDE.md
  docs/CUSTOMIZATION.md
  docs/FEATURES.md
  docs/STRUCTURE.md
Due: prettier --write
