Repository FUA26/turbo-barnacle: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: add contributing guide
  CONTRIBUTING.md
Due: prettier --write

docs: add architecture overview
  docs/architecture/overview.md
Due: prettier --write

feat(deployment): add production Dockerfile
  .docker/Dockerfile
  next.config.ts
Due: eslint --fix, prettier --write

feat(deployment): add production docker-compose
  .docker/docker-compose.prod.yml
Due: none

feat(deployment): add deployment and backup scripts
  scripts/db-backup.sh
  scripts/deploy.sh
Due: none

feat(ci): add CI workflow
  .github/workflows/ci.yml
Due: none

docs: update CLAUDE.md with new features
  CLAUDE.md
Due: prettier --write

docs: add getting started and deployment guides
  docs/guides/deployment.md
  docs/guides/getting-started.md
Due: prettier --write

fix(testing): resolve tsconfig duplicate key and atoms test memory leak
  .claude/settings.local.json
  lib/state/atoms/ui.ts
  tests/setup/vitest.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix(build): resolve TypeScript errors and fix build issues
  components/form/fields/form-field.tsx
  lib/api/errors/errors.ts
  lib/api/middleware/error-handler.ts
  lib/api/response/api-response.ts
  lib/api/routes/builders.ts
  lib/api/routes/index.ts
  tests/setup/test-setup.ts
  tests/utils/assertions.ts
Due: eslint --fix, prettier --write

fix: resolve Next.js 16 async params and form state issues
  app/api/files/[id]/route.ts
  app/api/users/[id]/route.ts
  components/admin/user-form.tsx
Due: eslint --fix, prettier --write

feat: add E2E tests for user management with Playwright
  .claude/settings.local.json
  .github/workflows/ci.yml
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/e2e/README.md
  tests/e2e/helpers/auth.ts
  tests/e2e/users.spec.ts
Due: eslint --fix, prettier --write

feat: add comprehensive E2E tests for all features
  tests/e2e/auth.spec.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/permissions.spec.ts
  tests/e2e/profile.spec.ts
  tests/e2e/roles.spec.ts
Due: eslint --fix, prettier --write

fix: remove unused variable in auth E2E test
  tests/e2e/auth.spec.ts
Due: eslint --fix, prettier --write

feat: add Playwright dependencies installer script
  .claude/settings.local.json
  scripts/install-playwright-deps.sh
  tests/e2e/README.md
Due: prettier --write

docs: add comprehensive E2E tests summary document
  tests/e2e/SUMMARY.md
Due: prettier --write

fix: use libasound2t64 for Ubuntu 24.04+
  scripts/install-playwright-deps.sh
Due: none

fix: update test admin credentials to use correct email
  tests/e2e/README.md
  tests/e2e/SUMMARY.md
  tests/e2e/helpers/auth.ts
Due: eslint --fix, prettier --write

fix: update test admin password to match database
  tests/e2e/README.md
  tests/e2e/SUMMARY.md
  tests/e2e/helpers/auth.ts
Due: eslint --fix, prettier --write

fix: update E2E test selectors to match actual UI implementation
  tests/e2e/navigation.spec.ts
  tests/e2e/permissions.spec.ts
  tests/e2e/profile.spec.ts
  tests/e2e/roles.spec.ts
  tests/e2e/users.spec.ts
Due: eslint --fix, prettier --write

feat: add production landing page with micro-animations
  app/globals.css
  app/showcase/page.tsx
Due: eslint --fix, prettier --write

fix: move Google Fonts import before Tailwind imports
  app/globals.css
Due: prettier --write

feat: move landing page to root with light theme
  app/page.tsx
Due: eslint --fix, prettier --write

docs: add analytics dashboard design document
  docs/plans/2025-02-22-analytics-dashboard-design.md
Due: prettier --write

docs: add analytics dashboard implementation plan
  docs/plans/2025-02-22-analytics-dashboard.md
Due: prettier --write

feat: replace old data-table with shared-data-table
  components/admin/data-table/advanced-data-table.tsx
  components/admin/data-table/data-table-action-bar.tsx
  components/admin/data-table/data-table-column-header.tsx
  components/admin/data-table/data-table-date-filter.tsx
  components/admin/data-table/data-table-faceted-filter.tsx
  components/admin/data-table/data-table-pagination.tsx
  components/admin/data-table/data-table-toolbar.tsx
  components/admin/data-table/data-table-view-options.tsx
  components/admin/data-table/data-table.tsx
  components/admin/data-table/index.ts
Due: eslint --fix, prettier --write

feat: update demo page to use new DataTable component
  app/(dashboard)/demo/advanced-table/page.tsx
Due: eslint --fix, prettier --write

feat: upgrade users table to use new DataTable
  components/admin/users-data-table.tsx
Due: eslint --fix, prettier --write

fix: resolve table is not defined error in BulkActionsDialog
  components/admin/users-data-table.tsx
Due: eslint --fix, prettier --write

feat: add role filter to users data table
  components/admin/users-data-table.tsx
Due: eslint --fix, prettier --write

feat: upgrade roles and permissions tables with DataTable
  components/admin/permissions-data-table.tsx
  components/admin/roles-data-table.tsx
Due: eslint --fix, prettier --write

test: add E2E tests for DataTable features
  tests/e2e/data-table-features.spec.ts
Due: eslint --fix, prettier --write

fix: remove unused variables from test file
  tests/e2e/data-table-features.spec.ts
Due: eslint --fix, prettier --write

test: fix DataTable E2E test selectors and improve reliability
  tests/e2e/data-table-features.spec.ts
Due: eslint --fix, prettier --write

feat: setup analytics directory structure
  components/analytics/.gitkeep
  lib/analytics/.gitkeep
Due: none

feat: add analytics data fetchers (server actions)
  lib/analytics/data-fetchers.ts
Due: eslint --fix, prettier --write

feat: add mock data generator for system metrics
  lib/analytics/mock-data.ts
Due: eslint --fix, prettier --write

feat: add reusable chart wrapper component
  components/analytics/chart-wrapper.tsx
Due: eslint --fix, prettier --write

feat: add summary cards component with data fetching
  components/analytics/summary-cards.tsx
Due: eslint --fix, prettier --write

feat: add filter bar component with date picker
  components/analytics/filter-bar.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md,prisma})
